@font-face {
    font-family: 'Noto Sans JP';
    src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#definicion {
    color: black;
    font-size: 14px;
    font-weight: bold;
}

#parrafo_especial {
    color: green;
    font-size: 14px;
    font-style: italic;
    font-family: 'Roboto';
}

h1, h2 {
    color: red;
    font-family: 'Noto Sans JP' !important;
}


body {
    background-color: lightblue;
    color: grey;
}